<template>
    <b-card>
        <b-media>
            <template v-slot:aside>
                <b-spinner v-if="status === GAME_STATUS.Waiting.value" variant="primary" type="grow" label="Spinning"></b-spinner>
            </template>
            <b v-if="isLoading">Загрузка...</b>
            <b v-else>{{ statusText }}</b>
        </b-media>
    </b-card>
</template>

<script>
    import {GAME_STATUS} from "../enums";

    export default {
        name: "GameInfo",
        data() {
            return {
                GAME_STATUS
            };
        },
        props: {
            status: String,
            isLoading: Boolean,
            currentUserId: String,
            turnUserId: String,
            winnerUserId: String
        },
        computed: {
            statusText() {
                const map = {
                    [GAME_STATUS.Waiting]: 'Ждем второго игрока...',
                    [GAME_STATUS.Running]: this.runningText,
                    [GAME_STATUS.Finished]: this.finishedText,
                };
                return map[this.status] || '';
            },
            runningText() {
                return this.turnUserId === this.currentUserId ? 'Ваш ход' : 'Ждем хода от соперника';
            },
            finishedText() {
                const result = this.winnerUserId === this.currentUserId ? 'выиграли' : 'проиграли';
                return `Игра завершена: вы ${result}!`
            }
        }
    }
</script>
