<template>
    <div class="game-field">
        <div
            v-for="(rowItem, rowKey) in new Array(11)"
            :key="rowKey"
            :style="{marginLeft: `${26 * rowKey}px`}"
            class="hex-row"
        >
            <div
                class="hex"
                v-for="(item, key) in new Array(11)"
                :key="key"
                :class="{
                    red: items[getCellNumberFromXY(rowKey, key)] === CELL_TYPE.Red.value,
                    blue: items[getCellNumberFromXY(rowKey, key)] === CELL_TYPE.Blue.value,
                    redStart: redStartIndexes.indexOf(getCellNumberFromXY(rowKey, key)) !== -1,
                    redEnd: redEndIndexes.indexOf(getCellNumberFromXY(rowKey, key)) !== -1,
                    blueStart: blueStartIndexes.indexOf(getCellNumberFromXY(rowKey, key)) !== -1,
                    blueEnd: blueEndIndexes.indexOf(getCellNumberFromXY(rowKey, key)) !== -1
                }"
                @click="$emit('click', items[getCellNumberFromXY(rowKey, key)], rowKey, key)"
            >
                <div class="top"></div>
                <div class="middle">
                    <div v-if="winnerPath && winnerPath.indexOf(getCellNumberFromXY(rowKey, key)) !== -1" class="dot"></div>
                </div>
                <div class="bottom"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</template>

<script>
    import {CELL_TYPE} from "../enums";
    import {getCellNumberFromXY} from "../utils";

    export default {
        name: "GameField",
        props: {
            items: Array,
            winnerPath: Array
        },
        data() {
            const startIndexes = Array.from((new Array(11)).keys());
            const blueStartIndexes = startIndexes.map(x => x * 11);
            return {
                CELL_TYPE,
                redStartIndexes: startIndexes,
                redEndIndexes: startIndexes.map(x => 120 - x),
                blueStartIndexes,
                blueEndIndexes: blueStartIndexes.map(x => x + 10)
            };
        },
        methods: {getCellNumberFromXY}
    }
</script>

<style lang="scss" scoped>
    // https://jtauber.github.io/articles/css-hexagon.html
    $width: 50px;

    .game-field {
        width: 844px;
        padding-bottom: 64px;
    }

    .hex {
        float: left;
        margin-left: 3px;
        margin-bottom: $width / 4 * -1;

        @mixin hex-color($color) {
            .top {
                width: 0;
                border-bottom: $width / 3 solid $color;
                border-left: $width / 2 solid transparent;
                border-right: $width / 2 solid transparent;
            }

            .middle {
                width: $width;
                height: $width / 1.8;
                background: $color;
                position: relative;
            }

            .bottom {
                width: 0;
                border-top: $width / 3 solid $color;
                border-left: $width / 2 solid transparent;
                border-right: $width / 2 solid transparent;
            }
        }

        @include hex-color(#ddd);
        &.blue { @include hex-color(blue); }
        &.red { @include hex-color(red); }

        &:not(.blue):not(.red):hover {
            @include hex-color(#ccc);
            cursor: pointer;
        }

        &.redStart {
            .top {
                border-left-color: darkred;
                border-right-color: darkred;
            }
        }
        &.redEnd {
            .bottom {
                border-left-color: darkred;
                border-right-color: darkred;
            }
        }
        &.blueStart {
            .bottom {
                border-left-color: darkblue;
            }
        }
        &.blueEnd {
            .top {
                border-right-color: darkblue;
            }
        }

        .dot {
            $dotWidth: $width / 2;
            height: $dotWidth;
            width: $dotWidth;
            border-radius: 100%;
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
    }

    .hex-row {
        clear: left;
    }
</style>
