<template>
    <div>
        <b-navbar toggleable="sm" type="light" variant="light">
            <div class="container">
                <b-navbar-toggle target="nav-text-collapse"></b-navbar-toggle>
                <b-navbar-brand>Hex FP</b-navbar-brand>
                <b-collapse v-if="isLoggedIn" id="nav-text-collapse" is-nav>
                    <b-navbar-nav class="ml-auto">
                        <b-nav-text>{{ userName }}</b-nav-text>
                        <b-nav-item href="#" @click.prevent="$emit('logout')">Выйти</b-nav-item>
                    </b-navbar-nav>
                </b-collapse>
            </div>
        </b-navbar>
    </div>
</template>

<script>
    export default {
        name: "Header",
        props: {
            userName: String,
            isLoggedIn: Boolean
        }
    }
</script>

