<template>
    <div>
        <b-form @submit="onSubmit" class="form-signin">
            <b-form-group label="Для начала игры введите свое имя" label-for="name">
                <b-form-input
                    id="name"
                    v-model="loginName"
                    type="text"
                    required
                    placeholder="Имя"
                    size="lg"
                    autocomplete="off"
                />
            </b-form-group>
            <b-alert v-if="error" show variant="danger">{{ error }}</b-alert>
            <b-button type="submit" size="lg" block variant="primary" :disabled="isLoading">
                {{isLoading ? 'Входим...' : 'Начать игру'}}
            </b-button>
        </b-form>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: 'Login',
        data() {
            return {
                loginName: ''
            }
        },
        computed: mapState('user', ['isLoading', 'error']),
        methods: {
            ...mapActions('user', ['login']),
            onSubmit(e) {
                e.preventDefault();
                this.login(this.loginName);
            }
        }
    }
</script>

<style scoped>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>
