<template>
    <div>
        <b-spinner v-if="!game" variant="primary" type="grow" label="Spinning"></b-spinner>
        <div v-else>
            <GameInfo
                :is-loading="isLoading"
                :status="game.status"
                :turn-user-id="game.turnUserId"
                :winner-user-id="game.winnerUserId"
                :current-user-id="userId"
                class="game-info"
            />
            <GameField
                :items="game.gameField"
                :winner-path="game.winnerPath"
                class="game-field"
                @click="cellClickHandler"
            />
        </div>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    import GameField from "../../components/GameField";
    import GameInfo from "../../components/GameInfo";

    export default {
        name: "GameMain",
        components: {GameInfo, GameField},
        data() {
            // eslint-disable-next-line
            const field = (new Array(121)).map(_ => 'EmptyCell');

            field[0] = 'Red';
            field[1] = 'Red';
            field[11] = 'Red';

            let coord = 35;
            field[coord] = 'Red';

            field[coord + 1] = 'Blue';
            field[coord - 1] = 'Blue';
            field[coord + 11] = 'Blue';
            field[coord - 11] = 'Blue';
            field[coord + 10] = 'Blue';
            field[coord - 10] = 'Blue';


            return {
                field
            };
        },
        computed: {
            ...mapState('game', ['game', 'isLoading']),
            ...mapState({userId: state => state.user.id})
        },
        methods: {
            ...mapActions({
               load: 'game/load',
               cellClick: 'game/cellClick',
               logout: 'user/logout'
            }),
            async firstLoad() {
                const startPolling = async () => {
                    try {
                        await this.load();
                    }
                    catch(e) {
                        console.error(e);
                        this.logout();
                    }
                    this.pollingTimeout = setTimeout(startPolling, 500);
                };
                startPolling();
                this.pollingTimeout = setTimeout(startPolling);
            },
            cellClickHandler(currentValue, rowKey, key) {
                console.log('click', currentValue, rowKey, key);
                this.cellClick({currentValue, rowKey, key});
            }
        },
        created() {
            this.firstLoad();
        },
        beforeDestroy() {
            clearTimeout(this.pollingTimeout);
        }
    }
</script>

<style scoped>
    .game-field, .game-info {
        margin-top: 10px;
    }
</style>
