<template>
    <div id="app">
        <Header :is-logged-in="isLoggedIn" :user-name="name" @logout="logout" />
        <div class="container">
            <Login v-if="!isLoggedIn"/>
            <GameMain v-else />
        </div>
    </div>
</template>

<script>
    import Header from "./components/Header";
    import {mapActions, mapGetters, mapState} from "vuex";
    import Login from "./containers/Login";
    import GameMain from "./containers/Game/GameMain";

    export default {
        name: 'app',
        components: {GameMain, Login, Header},
        computed: {
            ...mapState('user', ['name']),
            ...mapGetters('user', ['isLoggedIn'])
        },
        methods: mapActions('user', ['logout'])
    }
</script>
